In [7]:
import pandas as pd
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 217.9 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 315.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [11]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = 'root'
password = 'Raghav@IPS000'  
encoded_password = quote_plus(password)  

host = 'localhost'         
port = '3306'               
database = 'dsp505'

engine = create_engine(f'mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database}')

In [29]:
df=pd.read_csv('unique_websites.csv')

In [23]:
table_name = 'unique_websites'
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

print("DataFrame successfully transferred to MySQL!")

DataFrame successfully transferred to MySQL!

In [25]:
df=pd.read_csv('websites_data.csv')

In [27]:
table_name = 'websites_data'
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

print("DataFrame successfully transferred to MySQL!")

DataFrame successfully transferred to MySQL!